"*":
  editor:
    fontFamily: "Fira Code"
    showIndentGuide: true
    invisibles: {}
    autoIndent: false
    fontSize: 12
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "linter-clojure"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "go-plus": {}
  "linter-clojure": {}
  "vim-mode": {}
  "linter-scss-lint":
    executablePath: " /opt/boxen/rbenv/shims/scss-lint"
