"*":
  "atom-package-deps":
    ignored: []
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "linter-clojure"
      "linter-jscs"
      "linter-jshint"
      "symbols-view"
      "screen-send"
      "linter-coffeelint"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 18
    invisibles: {}
    showIndentGuide: true
    tabType: "soft"
  "elm-format":
    binary: "/Users/andrewhao/personal/prejoinin/node_modules/.bin/elm-format"
  elmjutsu:
    autocompleteDescriptionDisplay: "markdown"
    autocompleteEnabled: true
    autocompleteFuzzyFilteringEnabled: true
    cacheDirectory: "/var/folders/yf/nwshn_sn44d6l00z8kskjrc80000gn/T/elmjutsu378446YKMC07KhyMQ"
    globalAutocompleteEnabled: true
    hyperclickEnabled: true
    sidekickPosition: "right"
  "exfmt-atom": {}
  "git-blame":
    columnWidth: 281
  "go-plus": {}
  iex:
    colors: {}
  "language-elm":
    autocompleteEnabled: false
  "linter-clojure": {}
  "linter-scss-lint":
    executablePath: " /opt/boxen/rbenv/shims/scss-lint"
  "linter-ui-default":
    panelHeight: 292
    showPanel: true
  "release-notes":
    viewedVersion: "0.89.0"
  "rspec-iterm": {}
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "vim-mode": {}
  welcome:
    showOnStartup: false
".elm.source":
  editor:
    autoIndentOnPaste: true
